.container {
  max-width: 59vw;
  display: flex;
  flex-direction: column;
  gap: 1.67rem;
  margin-top: 5.21rem;
}
.subtitle {
  font-size: 1.25rem;
  line-height: 1.67rem;
}
@media (orientation: portrait) {
  .subtitle {
    margin: 3rem 0;
    font-size: 4rem;
    line-height: normal;
  }
}
