.link {
  position: relative;
  margin: 0 auto;
  color: var(--grey);
  width: fit-content;
  transition: var(--transition);
  cursor: pointer;
}

.link::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  color: transparent;
  background: var(--gradient-button);
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.4s ease;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.link:hover::before,
.link:focus::before {
  opacity: 1;
}
@media (orientation: portrait) {
  .link {
    font-size: 3rem;
  }
}
